.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.instruction__card {
    width: 33.33%;
    margin-bottom: 20px;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
}

.instruction__card img {
    object-fit: cover;
    width: 15%;
}

.card-body {
    /* padding: 20px; */
}

.instruction__card__title {
    font-size: 18px;
    font-weight: 600;
    word-break: break-all;
    width: 100%;
    /* margin-bottom: 10px; */
}

.instruction__card__list__group {
    display: flex;
    justify-content: center;
}

.instruction__card__list {
    list-style: none;
    text-align: start;
    margin: 0;
    padding: 0;
}

.list li {
    margin-bottom: 10px;
}

.bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    margin-right: 10px;
}

@media only screen and (max-width: 480px) {
    .card-group
    {
        flex-direction: column;
    }
    .instruction__card {
        width: 100%;
        margin-bottom: 20px;
        box-shadow: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}