
.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.caption h1{
    font-size: 70px/90px;
    font-family: GoodBrush;
}
.get__inspired{
    padding-top: 8rem;
}

.caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem 2rem 1rem;
    width: 100vw;
    height: 54px;
    color: var(--unnamed-color-000000);
    text-align: center;
    font: normal normal medium 20px/30px Gilroy;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.caption p {
    width: 780px;
    font-family: Gilroy;
}



@media only screen and (max-width: 480px) {
    .get__inspired .caption{
        word-break: break-all;
        word-wrap: break-word;
        width: auto;
        height: auto;
        text-align: justify;
    }
    .get__inspired .caption p{
        word-break: break-all;
        word-wrap: break-word;
        width: auto;
        height: auto;
        text-align: justify;
    }
    .grid-container {
        display: flex;
        flex-wrap: wrap;
        width: 80vw;
    }
}