@font-face {
    font-family: Gilroy;
    src: url(../../../fonts/Gilroy/Gilroy-Medium.ttf);
}

.spectator-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    margin-bottom: 0;
    margin-left: 8.8rem;
    width: 70vw;
    height: 30vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .spectator-card-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  
  .spectator-card-title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  .spectator-card-subtitle {
    margin: 0;
    font-size: 16px;
    color: #666;
  }
  
  .spectator-card-table {
    border-collapse: collapse;
    width: 97%;
    justify-content: center;
  }
  
  .spectator-card-table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-family: Gilroy;
    font-weight: 600;
  }

  
  .spectator-table-head2{
    display: flex;
    justify-content: end;
    border: nonenpm start;
  }

  @media only screen and (max-width: 480px) {
    .spectator-card{
      width: 100vw;
      background-color: red;
    }
  }