.slider-blur::before{
  content: "";
  width: 25%;
  height: 100%;
  background-color: red;
  filter: blur(10px);
}

 .stage-slider-wrapper {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-top: 4rem;
  }
  
  .owl-theme .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  
  .owl-theme .owl-nav .owl-prev,
  .owl-theme .owl-nav .owl-next {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    height: 100%;
    background: none;
    outline: none;
    z-index: 2;
  }
  
  .owl-theme .owl-nav .owl-prev {
    left: 0;
  }
  
  .owl-theme .owl-nav .owl-next {
    right: 0;
  }
  
  .owl-theme .owl-nav [class*='owl-']::before {
    content: '';
  }
  
  .owl-stage {
    display: flex;
    align-items: center;
  }
  
  .owl-stage-outer {
    position: relative;
  }

  .stage-slider-wrapper .screen{
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: space-between;
  }
  .stage-slider-wrapper .screen img{
    width: 40%;
    position: absolute;
    z-index: 99999;
    opacity: 0.7;
    top: 0rem;
  }
  .snap-img-2{
    left: 61%;
    width: 39%;
  }
  
  .owl-stage-outer:before {
    left: 0;
  }
  
  .owl-stage-outer:after {
    right: 0;
  }
  
  .owl-item {
    position: relative;
    flex: 0 0 292px;
    height: 517px;
    margin: 0 10px;
  }
  
  .owl-item:before,
  .owl-item:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: 2;
  }
  
  .owl-item > * {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  


@media only screen and (max-width: 480px) {
  .stage-slider-wrapper{
    /* width: fit-content;
    height: auto;
    margin: 0;
    padding: 0; */
    display: none;
  }
  .item{
    margin: 0;
    padding: 0;
    width: 33%;
  }
}